.female-module .timeBox {
  opacity: .8;
  background: #E12F3B;
}
.female-module .timeBox .time .leftTextBox {
  color: #FFFFFF;
}
.female-module .timeBox .time .centerTimeBox dl dt {
  color: #FFFFFF;
  background: transparent;
}
.female-module .timeBox .time .centerTimeBox dl dd {
  color: #FFFFFF;
}
.female-module .timeBox .time .rightAllBox a {
  color: #FFFFFF;
}
.female-purple {
  /*Input*/
}
.female-purple .ant-pagination-item-active {
  background-color: #E280C9;
  border-color: #E280C9;
}
.female-purple .ant-btn-primary.ant-btn {
  color: #FFFFFF;
  background-color: #E280C9;
  border-color: #E280C9;
  border-radius: 100px;
}
.female-purple .ant-btn-primary.ant-btn:hover {
  color: #FFFFFF;
  background-color: #E899D4;
  border-color: #E899D4;
}
.female-purple .ant-btn-primary.ant-btn:focus {
  color: #FFFFFF;
  background-color: #E899D4;
  border-color: #E899D4;
}
.female-purple .ant-btn-primary.ant-btn:active {
  color: #FFFFFF;
  background-color: #E899D4;
  border-color: #E899D4;
}
.female-purple .ant-btn-primary.ant-btn.active {
  color: #FFFFFF;
  background-color: #E899D4;
  border-color: #E899D4;
}
.female-purple .ant-checkbox-group .ant-checkbox-group-item .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #E280C9;
}
.female-purple .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border: 1px solid #E280C9;
}
.female-purple .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #E280C9;
}
.female-purple .ant-input:hover {
  border-color: #666666;
}
.female-purple .ant-input:focus {
  border-color: #666666;
  box-shadow: 0 0 0 0 transparent;
}
.female-purple .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #666666;
}
.female-purple .ant-select-open .ant-select-selection {
  border-color: #666666;
  box-shadow: 0 0 0 0 transparent;
}
.female-purple .ant-select-selection:hover {
  border-color: #666666;
}
.female-purple .pc-carousel .ant-carousel .slick-slider .slick-dots {
  bottom: 24px;
}
.female-purple .pc-carousel .ant-carousel .slick-slider .slick-dots li button {
  display: inline-block;
  background: #E280C9;
  margin-left: 8px;
}
.female-purple .pc-carousel .ant-carousel .slick-slider .slick-dots li.slick-active button {
  display: inline-block;
  background: #E280C9;
}
.female-purple .ant-rate-star-full .ant-rate-star-second,
.female-purple .ant-rate-star-half .ant-rate-star-first {
  color: #E280C9;
}
.female-purple .time-box {
  font-family: Arial-BoldMT;
  padding: 0 30px;
  height: 56px;
  padding: 0 50px 0 0;
  border-radius: 0;
}
.female-purple .time-box .time-inner {
  width: 180px;
  background-color: rgba(226, 128, 201, 0.8);
  padding: 0 5px;
  color: #FFFFFF;
  border-radius: 4px;
}
.female-purple .time-box .time-inner .time-count {
  font-size: 18px;
  line-height: 26px;
}
.female-purple .pro-oprate .icons {
  margin-right: 5px;
  cursor: pointer;
  color: #000000;
}
.female-purple .pro-oprate .icons a:hover {
  color: #E280C9;
}
.female-purple .pro-oprate .icons .anticon.anticon-heart {
  color: #E280C9;
}
.female-purple .pro-oprate .icons:hover {
  color: #E280C9;
}
.female-purple .pro-oprate .icons:hover .anticon-heart-o:before {
  content: "\e6a3";
}
.female-purple .ant-btn {
  border-radius: 100px;
}
.female-purple .ant-btn:hover {
  color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-purple .ant-btn:focus {
  color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-purple .ant-btn:active {
  color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-purple .ant-btn.active {
  color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-purple .ant-tabs-nav .ant-tabs-tab-active {
  color: #E280C9;
}
.female-purple .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #E280C9;
}
.female-purple .pro-box .pro-box-inner .flex-width .pro-img-box .tip-box {
  top: 0;
  right: 0;
  background-color: #E280C9;
}
.female-purple .pro-box .pro-box-inner .flex-width .pro-img-box .tip-box .tips {
  color: #E280C9;
}
.female-purple .pro-box .pro-box-inner .flex-width .pro-img-box .tip-box .tips-count {
  color: #FFFFFF;
}
.female-purple .pro-box .modal-cover .pro-modal .modal-pro-title .anticon {
  color: #E280C9;
}
.female-purple .oprate-con .do-price .do-price-discount {
  background: #FF9835;
  color: #FFFFFF;
}
.female-purple #pHeader .top-info4,
.female-purple #pHeader .nav-item a {
  color: #FFFFFF;
}
.female-purple #pHeader .search-box-5 .shopping-wrap .anticon-shopping-cart {
  color: #E280C9;
}
.female-purple #pHeader .nav-wrapper-5 .ant-menu-vertical .ant-menu-submenu-title {
  color: #2b2d42;
}
.female-purple #pHeader .nav-wrapper-5 .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
.female-purple #pHeader .nav-wrapper-5 .ant-menu-horizontal .ant-menu-submenu-vertical.ant-menu-submenu-selected .ant-menu-submenu-title {
  background: #E280C9 !important;
  color: #FFFFFF;
}
.female-purple #pHeader .nav-wrapper-5 .ant-menu-submenu > .ant-menu {
  background: #FFFFFF !important;
}
.female-purple #pHeader .nav-wrapper-5 .ant-menu-horizontal .ant-menu-item-selected a,
.female-purple #pHeader .nav-wrapper-5 .ant-menu-vertical.ant-menu-sub > .ant-menu-item:hover a,
.female-purple #pHeader .nav-wrapper-5 .ant-menu-horizontal .ant-menu-submenu-vertical:hover .ant-menu-submenu-title {
  color: #FFFFFF !important;
}
.female-purple #pHeader .nav-wrapper-5 .ant-menu-vertical .ant-menu-submenu-title:hover,
.female-purple #pHeader .nav-wrapper-5 .ant-menu-vertical.ant-menu-sub > .ant-menu-item:hover,
.female-purple #pHeader .nav-wrapper-5 .menu-subMenu-change.ant-menu-submenu-active .ant-menu-submenu-title {
  background: #E899D4 !important;
}
.female-purple #pHeader .nav-wrapper-5 .ant-menu .ant-menu-item:hover a {
  color: #2b2d42 !important;
}
.female-purple #pHeader .nav-wrapper-5 .ant-menu-horizontal > .ant-menu-item:hover .nav-font,
.female-purple #pHeader .nav-wrapper-5 .ant-menu-horizontal > .ant-menu-item:hover a {
  color: #E280C9 !important;
}
.female-purple #pHeader .ant-menu-horizontal .ant-menu-item-selected {
  border-bottom: 4px solid transparent;
}
.female-purple #pHeader .ant-menu-horizontal .ant-menu-item-selected .nav-font {
  color: #E280C9;
}
.female-purple #pHeader .ant-menu-horizontal .ant-menu-itemhover {
  border-bottom: 4px solid #E280C9;
}
.female-purple #pHeader .ant-menu-horizontal .ant-menu-item .nav-font:hover {
  color: #E280C9;
}
.female-purple #pHeader .ant-menu-horizontal .ant-menu-submenu-selected {
  border-bottom: 4px solid #E280C9;
}
.female-purple #pHeader .ant-menu-horizontal .ant-menu-submenu-selected .nav-font {
  color: #E280C9;
}
.female-purple #pHeader .ant-menu-horizontal .ant-menu-submenuhover {
  border-bottom: 4px solid #E280C9;
}
.female-purple #pHeader .ant-menu-horizontal .ant-menu-submenu .nav-font:hover {
  color: #E280C9;
}
.female-purple #pHeader .footer-wrapper {
  background: #FFFFFF;
}
.female-purple #pHeader .search-box {
  background: #FFFFFF;
}
.female-purple #pHeader .top-info {
  background-color: #F2F2F2;
  color: #000000;
}
.female-purple #pHeader .top-info .nav-wrapper .icon-extra {
  color: #000000;
}
.female-purple #pHeader .top-info .nav-wrapper .icon {
  color: #000000;
}
.female-purple #pHeader .top-info .nav-wrapper .nav-item .btn-login a,
.female-purple #pHeader .top-info .nav-wrapper .nav-item span,
.female-purple #pHeader .top-info .nav-wrapper .nav-item .btn-login,
.female-purple #pHeader .top-info .nav-wrapper .nav-item span a {
  color: #000000;
}
.female-purple #pHeader .nav-font {
  color: #000000;
  font-weight: normal;
}
.female-purple #pHeader .search-box {
  border-bottom: none;
}
.female-purple #pHeader .search-box .input-wrapper .btn-search {
  background: #FFFFFF;
  border: 1px solid #d9d9d9;
  border-left: none;
  color: #d9d9d9;
}
.female-purple #pHeader .search-box .input-wrapper .ant-input {
  background: #FFFFFF;
  color: #000000;
}
.female-purple #pHeader .search-box .ant-input:hover {
  border-color: #d9d9d9;
}
.female-purple #pHeader .search-box .ant-input:focus {
  border-color: #d9d9d9;
  box-shadow: none;
}
.female-purple #pFooter .footer-wrapper {
  color: #FFFFFF;
  background: #252525;
}
.female-purple #pFooter .footer-wrapper .footer-content .font {
  color: #E280C9;
}
.female-purple #pFooter .footer-wrapper .footer-content .title {
  color: #FFFFFF;
}
.female-purple #pFooter .footer-wrapper .footer-content .title .title-icon {
  display: none;
}
.female-purple #pFooter .footer-wrapper .rights {
  background: #181818;
  color: #FFFFFF;
}
.female-purple .pc-home .ad-img-box .ad-img-cover .ad-cover-inner {
  background: rgba(225, 48, 59, 0.2);
}
.female-purple .productPage .productList .part .right-info .photo .img-pick {
  border: 1px solid transparent;
}
.female-purple .productPage .productList .part .right-info .photo .img-active {
  border: 1px solid #E280C9;
}
.female-purple .productPage .productList .part .right-info .time {
  background-color: transparent;
  border: 1px solid #E280C9;
  color: #E280C9;
}
.female-purple .productPage .productList .part .right-info .sale {
  display: none;
}
.female-purple .productPage .productList .part .right-info .tip-box-skint {
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  padding: 0 20px;
  background-color: #E280C9;
  color: #FFFFFF;
  height: 28px;
  line-height: 28px;
}
.female-purple .productPage .productList .part .right-info .operate .icon-heart:hover {
  color: #E280C9;
}
.female-purple .productPage .productList .part .right-info .operate .anticon-heart {
  color: #E280C9;
}
.female-purple .productPage .productList .part .right-info .operate .icon-eyesss {
  color: #666666;
}
.female-purple .productPage .productList .part .right-info .operate .icon-eyesss:hover {
  color: #E280C9;
}
.female-purple .productPage .productList .part .right-info .operate .icon-p:hover {
  color: #E280C9;
}
.female-purple .productPage .sort .sortType-choose {
  color: #FFFFFF;
  background: #E280C9;
  border: 1px solid #E280C9;
}
.female-purple .pd-contain .magnifier-wrap .img-list li.active::after {
  border-color: #E280C9;
}
.female-purple .pd-contain .spec-list .list-con li.active::before {
  border-color: #E280C9;
}
.female-purple .pd-contain .do-price .do-price-discount {
  background: #E280C9;
  color: #FFFFFF;
}
.female-purple #pCompany .wrabox .bor_bt {
  background: #E280C9;
}
.female-purple #pContact .conbox .bor_bt {
  background: #E280C9;
}
.female-orange {
  /*Input*/
}
.female-orange .ant-pagination-item-active {
  background-color: #FF9835;
  border-color: #FF9835;
}
.female-orange .ant-btn-primary.ant-btn {
  color: #FFFFFF;
  background-color: #FF9835;
  border-color: #FF9835;
  border-radius: 100px;
}
.female-orange .ant-btn-primary.ant-btn:hover {
  color: #FFFFFF;
  background-color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-orange .ant-btn-primary.ant-btn:focus {
  color: #FFFFFF;
  background-color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-orange .ant-btn-primary.ant-btn:active {
  color: #FFFFFF;
  background-color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-orange .ant-btn-primary.ant-btn.active {
  color: #FFFFFF;
  background-color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-orange .ant-checkbox-group .ant-checkbox-group-item .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #FF9835;
}
.female-orange .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border: 1px solid #FF9835;
}
.female-orange .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #FF9835;
}
.female-orange .ant-input:hover {
  border-color: #666666;
}
.female-orange .ant-input:focus {
  border-color: #666666;
  box-shadow: 0 0 0 0 transparent;
}
.female-orange .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #666666;
}
.female-orange .ant-select-open .ant-select-selection {
  border-color: #666666;
  box-shadow: 0 0 0 0 transparent;
}
.female-orange .ant-select-selection:hover {
  border-color: #666666;
}
.female-orange .pc-carousel .ant-carousel .slick-slider .slick-dots {
  bottom: 24px;
}
.female-orange .pc-carousel .ant-carousel .slick-slider .slick-dots li button {
  display: inline-block;
  background: #FF9835;
  margin-left: 8px;
}
.female-orange .pc-carousel .ant-carousel .slick-slider .slick-dots li.slick-active button {
  display: inline-block;
  background: #FF9835;
}
.female-orange .ant-rate-star-full .ant-rate-star-second,
.female-orange .ant-rate-star-half .ant-rate-star-first {
  color: #FF9835;
}
.female-orange .time-box {
  font-family: Arial-BoldMT;
  padding: 0 30px;
  height: 56px;
  padding: 0 50px 0 0;
  border-radius: 0;
}
.female-orange .time-box .time-inner {
  width: 180px;
  background-color: rgba(255, 152, 53, 0.8);
  padding: 0 5px;
  color: #FFFFFF;
  border-radius: 4px;
}
.female-orange .time-box .time-inner .time-count {
  font-size: 18px;
  line-height: 26px;
}
.female-orange .pro-oprate .icons {
  margin-right: 5px;
  cursor: pointer;
  color: #000000;
}
.female-orange .pro-oprate .icons a:hover {
  color: #FF9835;
}
.female-orange .pro-oprate .icons .anticon.anticon-heart {
  color: #FF9835;
}
.female-orange .pro-oprate .icons:hover {
  color: #FF9835;
}
.female-orange .pro-oprate .icons:hover .anticon-heart-o:before {
  content: "\e6a3";
}
.female-orange .ant-btn {
  border-radius: 100px;
}
.female-orange .ant-btn:hover {
  color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-orange .ant-btn:focus {
  color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-orange .ant-btn:active {
  color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-orange .ant-btn.active {
  color: #FFAD5D;
  border-color: #FFAD5D;
}
.female-orange .ant-tabs-nav .ant-tabs-tab-active {
  color: #FF9835;
}
.female-orange .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #FF9835;
}
.female-orange .pro-box .pro-box-inner .flex-width .pro-img-box .tip-box {
  top: 0;
  right: 0;
  background-color: #FF9835;
}
.female-orange .pro-box .pro-box-inner .flex-width .pro-img-box .tip-box .tips {
  color: #FF9835;
}
.female-orange .pro-box .pro-box-inner .flex-width .pro-img-box .tip-box .tips-count {
  color: #FFFFFF;
}
.female-orange .pro-box .modal-cover .pro-modal .modal-pro-title .anticon {
  color: #FF9835;
}
.female-orange .oprate-con .do-price .do-price-discount {
  background: #FF9835;
  color: #FFFFFF;
}
.female-orange #pHeader .top-info4,
.female-orange #pHeader .nav-item a {
  color: #FFFFFF;
}
.female-orange #pHeader .search-box-5 .shopping-wrap .anticon-shopping-cart {
  color: #FF9835;
}
.female-orange #pHeader .nav-wrapper-5 .ant-menu-vertical .ant-menu-submenu-title {
  color: #2b2d42;
}
.female-orange #pHeader .nav-wrapper-5 .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
.female-orange #pHeader .nav-wrapper-5 .ant-menu-horizontal .ant-menu-submenu-vertical.ant-menu-submenu-selected .ant-menu-submenu-title {
  background: #FF9835 !important;
  color: #FFFFFF;
}
.female-orange #pHeader .nav-wrapper-5 .ant-menu-submenu > .ant-menu {
  background: #FFFFFF !important;
}
.female-orange #pHeader .nav-wrapper-5 .ant-menu-horizontal .ant-menu-item-selected a,
.female-orange #pHeader .nav-wrapper-5 .ant-menu-vertical.ant-menu-sub > .ant-menu-item:hover a,
.female-orange #pHeader .nav-wrapper-5 .ant-menu-horizontal .ant-menu-submenu-vertical:hover .ant-menu-submenu-title {
  color: #FFFFFF !important;
}
.female-orange #pHeader .nav-wrapper-5 .ant-menu-vertical .ant-menu-submenu-title:hover,
.female-orange #pHeader .nav-wrapper-5 .ant-menu-vertical.ant-menu-sub > .ant-menu-item:hover,
.female-orange #pHeader .nav-wrapper-5 .menu-subMenu-change.ant-menu-submenu-active .ant-menu-submenu-title {
  background: #FFAD5D !important;
}
.female-orange #pHeader .nav-wrapper-5 .ant-menu .ant-menu-item:hover a {
  color: #2b2d42 !important;
}
.female-orange #pHeader .nav-wrapper-5 .ant-menu-horizontal > .ant-menu-item:hover .nav-font,
.female-orange #pHeader .nav-wrapper-5 .ant-menu-horizontal > .ant-menu-item:hover a {
  color: #FF9835 !important;
}
.female-orange #pHeader .ant-menu-horizontal .ant-menu-item-selected {
  border-bottom: 4px solid transparent;
}
.female-orange #pHeader .ant-menu-horizontal .ant-menu-item-selected .nav-font {
  color: #FF9835;
}
.female-orange #pHeader .ant-menu-horizontal .ant-menu-itemhover {
  border-bottom: 4px solid #FF9835;
}
.female-orange #pHeader .ant-menu-horizontal .ant-menu-item .nav-font:hover {
  color: #FF9835;
}
.female-orange #pHeader .ant-menu-horizontal .ant-menu-submenu-selected {
  border-bottom: 4px solid #FF9835;
}
.female-orange #pHeader .ant-menu-horizontal .ant-menu-submenu-selected .nav-font {
  color: #FF9835;
}
.female-orange #pHeader .ant-menu-horizontal .ant-menu-submenuhover {
  border-bottom: 4px solid #FF9835;
}
.female-orange #pHeader .ant-menu-horizontal .ant-menu-submenu .nav-font:hover {
  color: #FF9835;
}
.female-orange #pHeader .footer-wrapper {
  background: #FFFFFF;
}
.female-orange #pHeader .search-box {
  background: #FFFFFF;
}
.female-orange #pHeader .top-info {
  background-color: #F2F2F2;
  color: #000000;
}
.female-orange #pHeader .top-info .nav-wrapper .icon-extra {
  color: #000000;
}
.female-orange #pHeader .top-info .nav-wrapper .icon {
  color: #000000;
}
.female-orange #pHeader .top-info .nav-wrapper .nav-item .btn-login a,
.female-orange #pHeader .top-info .nav-wrapper .nav-item span,
.female-orange #pHeader .top-info .nav-wrapper .nav-item .btn-login,
.female-orange #pHeader .top-info .nav-wrapper .nav-item span a {
  color: #000000;
}
.female-orange #pHeader .nav-font {
  color: #000000;
  font-weight: normal;
}
.female-orange #pHeader .search-box {
  border-bottom: none;
}
.female-orange #pHeader .search-box .input-wrapper .btn-search {
  background: #FFFFFF;
  border: 1px solid #d9d9d9;
  border-left: none;
  color: #d9d9d9;
}
.female-orange #pHeader .search-box .input-wrapper .ant-input {
  background: #FFFFFF;
  color: #000000;
}
.female-orange #pHeader .search-box .ant-input:hover {
  border-color: #d9d9d9;
}
.female-orange #pHeader .search-box .ant-input:focus {
  border-color: #d9d9d9;
  box-shadow: none;
}
.female-orange #pFooter .footer-wrapper {
  color: #FFFFFF;
  background: #252525;
}
.female-orange #pFooter .footer-wrapper .footer-content .font {
  color: #FF9835;
}
.female-orange #pFooter .footer-wrapper .footer-content .title {
  color: #FFFFFF;
}
.female-orange #pFooter .footer-wrapper .footer-content .title .title-icon {
  display: none;
}
.female-orange #pFooter .footer-wrapper .rights {
  background: #181818;
  color: #FFFFFF;
}
.female-orange .pc-home .ad-img-box .ad-img-cover .ad-cover-inner {
  background: rgba(225, 48, 59, 0.2);
}
.female-orange .productPage .productList .part .right-info .photo .img-pick {
  border: 1px solid transparent;
}
.female-orange .productPage .productList .part .right-info .photo .img-active {
  border: 1px solid #FF9835;
}
.female-orange .productPage .productList .part .right-info .time {
  background-color: transparent;
  border: 1px solid #FF9835;
  color: #FF9835;
}
.female-orange .productPage .productList .part .right-info .sale {
  display: none;
}
.female-orange .productPage .productList .part .right-info .tip-box-skint {
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  padding: 0 20px;
  background-color: #FF9835;
  color: #FFFFFF;
  height: 28px;
  line-height: 28px;
}
.female-orange .productPage .productList .part .right-info .operate .icon-heart:hover {
  color: #FF9835;
}
.female-orange .productPage .productList .part .right-info .operate .anticon-heart {
  color: #FF9835;
}
.female-orange .productPage .productList .part .right-info .operate .icon-eyesss {
  color: #666666;
}
.female-orange .productPage .productList .part .right-info .operate .icon-eyesss:hover {
  color: #FF9835;
}
.female-orange .productPage .productList .part .right-info .operate .icon-p:hover {
  color: #FF9835;
}
.female-orange .productPage .sort .sortType-choose {
  color: #FFFFFF;
  background: #FF9835;
  border: 1px solid #FF9835;
}
.female-orange .pd-contain .magnifier-wrap .img-list li.active::after {
  border-color: #FF9835;
}
.female-orange .pd-contain .spec-list .list-con li.active::before {
  border-color: #FF9835;
}
.female-orange .pd-contain .do-price .do-price-discount {
  background: #FF9835;
  color: #FFFFFF;
}
.female-orange #pCompany .wrabox .bor_bt {
  background: #FF9835;
}
.female-orange #pContact .conbox .bor_bt {
  background: #FF9835;
}
/*三种颜色通用样式*/
.female-red {
  /*Input*/
}
.female-red .ant-pagination-item-active {
  background-color: #C44431;
  border-color: #C44431;
}
.female-red .ant-btn-primary.ant-btn {
  color: #FFFFFF;
  background-color: #C44431;
  border-color: #C44431;
  border-radius: 100px;
}
.female-red .ant-btn-primary.ant-btn:hover {
  color: #FFFFFF;
  background-color: #D0695A;
  border-color: #D0695A;
}
.female-red .ant-btn-primary.ant-btn:focus {
  color: #FFFFFF;
  background-color: #D0695A;
  border-color: #D0695A;
}
.female-red .ant-btn-primary.ant-btn:active {
  color: #FFFFFF;
  background-color: #D0695A;
  border-color: #D0695A;
}
.female-red .ant-btn-primary.ant-btn.active {
  color: #FFFFFF;
  background-color: #D0695A;
  border-color: #D0695A;
}
.female-red .ant-checkbox-group .ant-checkbox-group-item .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #C44431;
}
.female-red .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border: 1px solid #C44431;
}
.female-red .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #C44431;
}
.female-red .ant-input:hover {
  border-color: #666666;
}
.female-red .ant-input:focus {
  border-color: #666666;
  box-shadow: 0 0 0 0 transparent;
}
.female-red .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #666666;
}
.female-red .ant-select-open .ant-select-selection {
  border-color: #666666;
  box-shadow: 0 0 0 0 transparent;
}
.female-red .ant-select-selection:hover {
  border-color: #666666;
}
.female-red .pc-carousel .ant-carousel .slick-slider .slick-dots {
  bottom: 24px;
}
.female-red .pc-carousel .ant-carousel .slick-slider .slick-dots li button {
  display: inline-block;
  background: #C44431;
  margin-left: 8px;
}
.female-red .pc-carousel .ant-carousel .slick-slider .slick-dots li.slick-active button {
  display: inline-block;
  background: #C44431;
}
.female-red .ant-rate-star-full .ant-rate-star-second,
.female-red .ant-rate-star-half .ant-rate-star-first {
  color: #C44431;
}
.female-red .time-box {
  font-family: Arial-BoldMT;
  padding: 0 30px;
  height: 56px;
  padding: 0 50px 0 0;
  border-radius: 0;
}
.female-red .time-box .time-inner {
  width: 180px;
  background-color: rgba(196, 68, 49, 0.8);
  padding: 0 5px;
  color: #FFFFFF;
  border-radius: 4px;
}
.female-red .time-box .time-inner .time-count {
  font-size: 18px;
  line-height: 26px;
}
.female-red .pro-oprate .icons {
  margin-right: 5px;
  cursor: pointer;
  color: #000000;
}
.female-red .pro-oprate .icons a:hover {
  color: #C44431;
}
.female-red .pro-oprate .icons .anticon.anticon-heart {
  color: #C44431;
}
.female-red .pro-oprate .icons:hover {
  color: #C44431;
}
.female-red .pro-oprate .icons:hover .anticon-heart-o:before {
  content: "\e6a3";
}
.female-red .ant-btn {
  border-radius: 100px;
}
.female-red .ant-btn:hover {
  color: #D0695A;
  border-color: #D0695A;
}
.female-red .ant-btn:focus {
  color: #D0695A;
  border-color: #D0695A;
}
.female-red .ant-btn:active {
  color: #D0695A;
  border-color: #D0695A;
}
.female-red .ant-btn.active {
  color: #D0695A;
  border-color: #D0695A;
}
.female-red .ant-tabs-nav .ant-tabs-tab-active {
  color: #C44431;
}
.female-red .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #C44431;
}
.female-red .pro-box .pro-box-inner .flex-width .pro-img-box .tip-box {
  top: 0;
  right: 0;
  background-color: #C44431;
}
.female-red .pro-box .pro-box-inner .flex-width .pro-img-box .tip-box .tips {
  color: #C44431;
}
.female-red .pro-box .pro-box-inner .flex-width .pro-img-box .tip-box .tips-count {
  color: #FFFFFF;
}
.female-red .pro-box .modal-cover .pro-modal .modal-pro-title .anticon {
  color: #C44431;
}
.female-red .oprate-con .do-price .do-price-discount {
  background: #C44431;
  color: #FFFFFF;
}
.female-red #pHeader .top-info4,
.female-red #pHeader .nav-item a {
  color: #FFFFFF;
}
.female-red #pHeader .search-box-5 .shopping-wrap .anticon-shopping-cart {
  color: #C44431;
}
.female-red #pHeader .nav-wrapper-5 .ant-menu-vertical .ant-menu-submenu-title {
  color: #2b2d42;
}
.female-red #pHeader .nav-wrapper-5 .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
.female-red #pHeader .nav-wrapper-5 .ant-menu-horizontal .ant-menu-submenu-vertical.ant-menu-submenu-selected .ant-menu-submenu-title {
  background: #C44431 !important;
  color: #FFFFFF;
}
.female-red #pHeader .nav-wrapper-5 .ant-menu-submenu > .ant-menu {
  background: #FFFFFF !important;
}
.female-red #pHeader .nav-wrapper-5 .ant-menu-horizontal .ant-menu-item-selected a,
.female-red #pHeader .nav-wrapper-5 .ant-menu-vertical.ant-menu-sub > .ant-menu-item:hover a,
.female-red #pHeader .nav-wrapper-5 .ant-menu-horizontal .ant-menu-submenu-vertical:hover .ant-menu-submenu-title {
  color: #FFFFFF !important;
}
.female-red #pHeader .nav-wrapper-5 .ant-menu-vertical .ant-menu-submenu-title:hover,
.female-red #pHeader .nav-wrapper-5 .ant-menu-vertical.ant-menu-sub > .ant-menu-item:hover,
.female-red #pHeader .nav-wrapper-5 .menu-subMenu-change.ant-menu-submenu-active .ant-menu-submenu-title {
  background: #D0695A !important;
}
.female-red #pHeader .nav-wrapper-5 .ant-menu .ant-menu-item:hover a {
  color: #2b2d42 !important;
}
.female-red #pHeader .nav-wrapper-5 .ant-menu-horizontal > .ant-menu-item:hover .nav-font,
.female-red #pHeader .nav-wrapper-5 .ant-menu-horizontal > .ant-menu-item:hover a {
  color: #C44431 !important;
}
.female-red #pHeader .ant-menu-horizontal .ant-menu-item-selected {
  border-bottom: 4px solid transparent;
}
.female-red #pHeader .ant-menu-horizontal .ant-menu-item-selected .nav-font {
  color: #C44431;
}
.female-red #pHeader .ant-menu-horizontal .ant-menu-itemhover {
  border-bottom: 4px solid #C44431;
}
.female-red #pHeader .ant-menu-horizontal .ant-menu-item .nav-font:hover {
  color: #C44431;
}
.female-red #pHeader .ant-menu-horizontal .ant-menu-submenu-selected {
  border-bottom: 4px solid #C44431;
}
.female-red #pHeader .ant-menu-horizontal .ant-menu-submenu-selected .nav-font {
  color: #C44431;
}
.female-red #pHeader .ant-menu-horizontal .ant-menu-submenuhover {
  border-bottom: 4px solid #C44431;
}
.female-red #pHeader .ant-menu-horizontal .ant-menu-submenu .nav-font:hover {
  color: #C44431;
}
.female-red #pHeader .footer-wrapper {
  background: #FFFFFF;
}
.female-red #pHeader .search-box {
  background: #FFFFFF;
}
.female-red #pHeader .top-info .nav-wrapper .icon-extra {
  color: #000000;
}
.female-red #pHeader .top-info .nav-wrapper .icon {
  color: #000000;
}
.female-red #pHeader .top-info .nav-wrapper .nav-item .btn-login a,
.female-red #pHeader .top-info .nav-wrapper .nav-item span,
.female-red #pHeader .top-info .nav-wrapper .nav-item .btn-login,
.female-red #pHeader .top-info .nav-wrapper .nav-item span a {
  color: #000000;
}
.female-red #pHeader .nav-font {
  color: #000000;
  font-weight: normal;
}
.female-red #pHeader .search-box {
  border-bottom: none;
}
.female-red #pHeader .search-box .input-wrapper .btn-search {
  background: #FFFFFF;
  border: 1px solid #d9d9d9;
  border-left: none;
  color: #d9d9d9;
}
.female-red #pHeader .search-box .input-wrapper .ant-input {
  background: #FFFFFF;
  color: #000000;
}
.female-red #pHeader .search-box .ant-input:hover {
  border-color: #d9d9d9;
}
.female-red #pHeader .search-box .ant-input:focus {
  border-color: #d9d9d9;
  box-shadow: none;
}
.female-red #pFooter .footer-wrapper {
  color: #FFFFFF;
  background: #252525;
}
.female-red #pFooter .footer-wrapper .footer-content .font {
  color: #C44431;
}
.female-red #pFooter .footer-wrapper .footer-content .title {
  color: #FFFFFF;
}
.female-red #pFooter .footer-wrapper .footer-content .title .title-icon {
  display: none;
}
.female-red #pFooter .footer-wrapper .rights {
  background: #181818;
  color: #FFFFFF;
}
.female-red .pc-home .ad-img-box .ad-img-cover .ad-cover-inner {
  background: rgba(225, 48, 59, 0.2);
}
.female-red .productPage .productList .part .right-info .photo .img-pick {
  border: 1px solid transparent;
}
.female-red .productPage .productList .part .right-info .photo .img-active {
  border: 1px solid #C44431;
}
.female-red .productPage .productList .part .right-info .time {
  background-color: transparent;
  border: 1px solid #C44431;
  color: #C44431;
}
.female-red .productPage .productList .part .right-info .sale {
  display: none;
}
.female-red .productPage .productList .part .right-info .tip-box-skint {
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  padding: 0 20px;
  background-color: #C44431;
  color: #FFFFFF;
  height: 28px;
  line-height: 28px;
}
.female-red .productPage .productList .part .right-info .operate .icon-heart:hover {
  color: #C44431;
}
.female-red .productPage .productList .part .right-info .operate .anticon-heart {
  color: #C44431;
}
.female-red .productPage .productList .part .right-info .operate .icon-eyesss {
  color: #666666;
}
.female-red .productPage .productList .part .right-info .operate .icon-eyesss:hover {
  color: #C44431;
}
.female-red .productPage .productList .part .right-info .operate .icon-p:hover {
  color: #C44431;
}
.female-red .productPage .sort .sortType-choose {
  color: #FFFFFF;
  background: #C44431;
  border: 1px solid #C44431;
}
.female-red .pd-contain .magnifier-wrap .img-list li.active::after {
  border-color: #C44431;
}
.female-red .pd-contain .spec-list .list-con li.active::before {
  border-color: #C44431;
}
.female-red .pd-contain .do-price .do-price-discount {
  background: #C44431;
  color: #FFFFFF;
}
.female-red #pCompany .wrabox .bor_bt {
  background: #C44431;
}
.female-red #pContact .conbox .bor_bt {
  background: #C44431;
}
