.baby-purple .ant-btn-primary.ant-btn {
  background-color: #602D8E;
  color: #FFFFFF;
  border-color: #602D8E;
}
.baby-purple .ant-btn {
  border-color: #602D8E;
  color: #602D8E;
}
.baby-purple .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #602D8E;
}
.baby-purple .ant-tabs-nav .ant-tabs-tab-active {
  color: #602D8E;
}
.baby-purple .timeBox {
  opacity: .8;
  background: #602D8E;
}
.baby-purple .oprate-con .do-price .do-price-discount {
  background: #602D8E;
  color: #FFFFFF;
}
.baby-purple #mHeader .ant-badge-count {
  background: #000000 !important;
}
.baby-purple #mHeader .ant-badge-count span {
  color: #FFFFFF !important;
}
.baby-purple #mHeader .top-info {
  background-color: #F2F2F2;
  color: #602D8E;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.baby-purple #mHeader .top-info .nav-right .nav-item .nav-shop {
  color: #602D8E;
}
.baby-purple #mHeader .search-box .close .anticon {
  color: #602D8E;
}
.baby-purple #mHeader .draw_menu .menu-footer {
  background: #602D8E;
  color: #FFFFFF;
}
.baby-purple #mHeader .draw_menu .menu-footer .footer-item-first {
  color: #FFFFFF;
}
.baby-purple #mHeader .draw_menu .menu-items .item .item-wrap-active {
  color: #602D8E;
  font-weight: bold;
}
.baby-purple #mHeader .draw_menu .menu-items .item .item-sub1 .item-active {
  color: #602D8E;
}
.baby-purple #mHeader .draw_menu .menu-items .item .menu-check {
  color: #602D8E;
}
.baby-purple #mFooter .footer-wrapper .footer-content {
  background: #EBE9EE;
}
.baby-purple #mFooter .footer-wrapper .footer-content .footer-bottom {
  background: #602D8E;
}
.baby-purple #mFooter .footer-wrapper .footer-content .footer-item .footer-header .header {
  color: #333333;
}
.baby-purple #mFooter .footer-wrapper .footer-content .footer-item .items .item .font {
  color: #602D8E;
}
.baby-purple #mFooter .footer-wrapper .footer-content .footer-item .items .item p {
  color: #333333;
}
.baby-purple .mpro-box .pro-btn .m-pro-btn {
  background-color: #602D8E;
  color: #FFFFFF;
}
.baby-purple .mpro-box .pro-img-box .tip-box {
  background-color: #602D8E;
}
.baby-purple .mpro-box .pro-img-box .tip-box .tips {
  color: #602D8E;
}
.baby-purple .mpro-box .pro-img-box .tip-box .tips-count {
  color: #FFFFFF;
}
.baby-purple .mpro-box .pro-img-box .time-box {
  padding: 0;
  bottom: 0;
  height: 1.0rem;
}
.baby-purple .mpro-box .pro-img-box .time-box .time-inner {
  border-radius: 0;
  background-color: rgba(96, 45, 142, 0.8);
  color: #FFFFFF;
}
.baby-purple .productMobile .sort .sort-contain .catalog {
  background-color: #602D8E;
  color: #FFFFFF;
}
.baby-purple .productMobile .sort .sort-contain .list-botton {
  color: #602D8E;
}
.baby-purple .productMobile .sort .sort-contain .list-botton i {
  color: #602D8E;
  border: 0.01333rem solid #602D8E;
}
.baby-purple .productMobile .sort .sort-contain .catalog-show .catalog-contain .part .content .group-click {
  color: #FFFFFF;
  background-color: #602D8E;
}
.baby-purple .productMobile .sort .sort-contain .catalog-show .catalog-contain .botton .done {
  color: #FFFFFF;
  background-color: #602D8E;
}
.baby-purple .productMobile .list-contain .list-one .part .right-info .operate .botton {
  background: #602D8E;
  color: #FFFFFF;
}
.baby-purple .productMobile .list-contain .list-one .part .right-info .sale .sale-span {
  color: #602D8E;
  border-color: #602D8E;
}
.baby-purple .productMobile .list-contain .list-one .part .right-info .sale .sale-spans {
  color: #FFFFFF;
  background: #602D8E;
  border: 0.01333rem solid #602D8E;
}
.baby-purple .productMobile .list-contain .list-one .part .right-info .time {
  background-color: rgba(96, 45, 142, 0.8);
  color: #FFFFFF;
}
.baby-purple #mCompany .wrabox .bor_bt {
  background: #602D8E;
}
.baby-purple #mContact .conbox .bor_bt {
  background: #602D8E;
}
.baby-orange .ant-btn-primary.ant-btn {
  background-color: #ED6334;
  color: #FFFFFF;
  border-color: #ED6334;
}
.baby-orange .ant-btn {
  border-color: #ED6334;
  color: #ED6334;
}
.baby-orange .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #ED6334;
}
.baby-orange .ant-tabs-nav .ant-tabs-tab-active {
  color: #ED6334;
}
.baby-orange .timeBox {
  opacity: .8;
  background: #ED6334;
}
.baby-orange .oprate-con .do-price .do-price-discount {
  background: #ED6334;
  color: #FFFFFF;
}
.baby-orange #mHeader .ant-badge-count {
  background: #000000 !important;
}
.baby-orange #mHeader .ant-badge-count span {
  color: #FFFFFF !important;
}
.baby-orange #mHeader .top-info {
  background-color: #F2F2F2;
  color: #ED6334;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.baby-orange #mHeader .top-info .nav-right .nav-item .nav-shop {
  color: #ED6334;
}
.baby-orange #mHeader .search-box .close .anticon {
  color: #ED6334;
}
.baby-orange #mHeader .draw_menu .menu-footer {
  background: #ED6334;
  color: #FFFFFF;
}
.baby-orange #mHeader .draw_menu .menu-footer .footer-item-first {
  color: #FFFFFF;
}
.baby-orange #mHeader .draw_menu .menu-items .item .item-wrap-active {
  color: #ED6334;
  font-weight: bold;
}
.baby-orange #mHeader .draw_menu .menu-items .item .item-sub1 .item-active {
  color: #ED6334;
}
.baby-orange #mHeader .draw_menu .menu-items .item .menu-check {
  color: #ED6334;
}
.baby-orange #mFooter .footer-wrapper .footer-content {
  background: rgba(218, 170, 151, 0.3);
}
.baby-orange #mFooter .footer-wrapper .footer-content .footer-bottom {
  background: #ED6334;
}
.baby-orange #mFooter .footer-wrapper .footer-content .footer-item .footer-header .header {
  color: #333333;
}
.baby-orange #mFooter .footer-wrapper .footer-content .footer-item .items .item .font {
  color: #ED6334;
}
.baby-orange #mFooter .footer-wrapper .footer-content .footer-item .items .item p {
  color: #333333;
}
.baby-orange .mpro-box .pro-btn .m-pro-btn {
  background-color: #ED6334;
  color: #FFFFFF;
}
.baby-orange .mpro-box .pro-img-box .tip-box {
  background-color: #ED6334;
}
.baby-orange .mpro-box .pro-img-box .tip-box .tips {
  color: #ED6334;
}
.baby-orange .mpro-box .pro-img-box .tip-box .tips-count {
  color: #FFFFFF;
}
.baby-orange .mpro-box .pro-img-box .time-box {
  padding: 0;
  bottom: 0;
  height: 1.0rem;
}
.baby-orange .mpro-box .pro-img-box .time-box .time-inner {
  border-radius: 0;
  background-color: rgba(237, 99, 52, 0.8);
  color: #FFFFFF;
}
.baby-orange .productMobile .sort .sort-contain .catalog {
  background-color: #ED6334;
  color: #FFFFFF;
}
.baby-orange .productMobile .sort .sort-contain .list-botton {
  color: #ED6334;
}
.baby-orange .productMobile .sort .sort-contain .list-botton i {
  color: #ED6334;
  border: 0.01333rem solid #ED6334;
}
.baby-orange .productMobile .sort .sort-contain .catalog-show .catalog-contain .part .content .group-click {
  color: #FFFFFF;
  background-color: #ED6334;
}
.baby-orange .productMobile .sort .sort-contain .catalog-show .catalog-contain .botton .done {
  color: #FFFFFF;
  background-color: #ED6334;
}
.baby-orange .productMobile .list-contain .list-one .part .right-info .operate .botton {
  background: #ED6334;
  color: #FFFFFF;
}
.baby-orange .productMobile .list-contain .list-one .part .right-info .sale .sale-span {
  color: #ED6334;
  border-color: #ED6334;
}
.baby-orange .productMobile .list-contain .list-one .part .right-info .sale .sale-spans {
  color: #FFFFFF;
  background: #ED6334;
  border: 0.01333rem solid #ED6334;
}
.baby-orange .productMobile .list-contain .list-one .part .right-info .time {
  background-color: rgba(237, 99, 52, 0.8);
  color: #FFFFFF;
}
.baby-orange #mCompany .wrabox .bor_bt {
  background: #ED6334;
}
.baby-orange #mContact .conbox .bor_bt {
  background: #ED6334;
}
/*三种颜色通用样式*/
.baby-pink .ant-btn-primary.ant-btn {
  background-color: #D37373;
  color: #FFFFFF;
  border-color: #D37373;
}
.baby-pink .ant-btn {
  border-color: #D37373;
  color: #D37373;
}
.baby-pink .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #D37373;
}
.baby-pink .ant-tabs-nav .ant-tabs-tab-active {
  color: #D37373;
}
.baby-pink .timeBox {
  opacity: .8;
  background: #D37373;
}
.baby-pink .oprate-con .do-price .do-price-discount {
  background: #D37373;
  color: #FFFFFF;
}
.baby-pink #mHeader .ant-badge-count {
  background: #000000 !important;
}
.baby-pink #mHeader .ant-badge-count span {
  color: #FFFFFF !important;
}
.baby-pink #mHeader .top-info {
  background-color: #F2F2F2;
  color: #D37373;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.baby-pink #mHeader .top-info .nav-right .nav-item .nav-shop {
  color: #D37373;
}
.baby-pink #mHeader .search-box .close .anticon {
  color: #D37373;
}
.baby-pink #mHeader .draw_menu .menu-footer {
  background: #D37373;
  color: #FFFFFF;
}
.baby-pink #mHeader .draw_menu .menu-footer .footer-item-first {
  color: #FFFFFF;
}
.baby-pink #mHeader .draw_menu .menu-items .item .item-wrap-active {
  color: #D37373;
  font-weight: bold;
}
.baby-pink #mHeader .draw_menu .menu-items .item .item-sub1 .item-active {
  color: #D37373;
}
.baby-pink #mHeader .draw_menu .menu-items .item .menu-check {
  color: #D37373;
}
.baby-pink #mFooter .footer-wrapper .footer-content {
  background: rgba(242, 192, 197, 0.5);
}
.baby-pink #mFooter .footer-wrapper .footer-content .footer-bottom {
  background: #D37373;
}
.baby-pink #mFooter .footer-wrapper .footer-content .footer-item .footer-header .header {
  color: #333333;
}
.baby-pink #mFooter .footer-wrapper .footer-content .footer-item .items .item .font {
  color: #D37373;
}
.baby-pink #mFooter .footer-wrapper .footer-content .footer-item .items .item p {
  color: #333333;
}
.baby-pink .mpro-box .pro-btn .m-pro-btn {
  background-color: #D37373;
  color: #FFFFFF;
}
.baby-pink .mpro-box .pro-img-box .tip-box {
  background-color: #D37373;
}
.baby-pink .mpro-box .pro-img-box .tip-box .tips {
  color: #D37373;
}
.baby-pink .mpro-box .pro-img-box .tip-box .tips-count {
  color: #FFFFFF;
}
.baby-pink .mpro-box .pro-img-box .time-box {
  padding: 0;
  bottom: 0;
  height: 1.0rem;
}
.baby-pink .mpro-box .pro-img-box .time-box .time-inner {
  border-radius: 0;
  background-color: rgba(211, 115, 115, 0.8);
  color: #FFFFFF;
}
.baby-pink .productMobile .sort .sort-contain .catalog {
  background-color: #D37373;
  color: #FFFFFF;
}
.baby-pink .productMobile .sort .sort-contain .list-botton {
  color: #D37373;
}
.baby-pink .productMobile .sort .sort-contain .list-botton i {
  color: #D37373;
  border: 0.01333rem solid #D37373;
}
.baby-pink .productMobile .sort .sort-contain .catalog-show .catalog-contain .part .content .group-click {
  color: #FFFFFF;
  background-color: #D37373;
}
.baby-pink .productMobile .sort .sort-contain .catalog-show .catalog-contain .botton .done {
  color: #FFFFFF;
  background-color: #D37373;
}
.baby-pink .productMobile .list-contain .list-one .part .right-info .operate .botton {
  background: #D37373;
  color: #FFFFFF;
}
.baby-pink .productMobile .list-contain .list-one .part .right-info .sale .sale-span {
  color: #D37373;
  border-color: #D37373;
}
.baby-pink .productMobile .list-contain .list-one .part .right-info .sale .sale-spans {
  color: #FFFFFF;
  background: #D37373;
  border: 0.01333rem solid #D37373;
}
.baby-pink .productMobile .list-contain .list-one .part .right-info .time {
  background-color: rgba(211, 115, 115, 0.8);
  color: #FFFFFF;
}
.baby-pink #mCompany .wrabox .bor_bt {
  background: #D37373;
}
.baby-pink #mContact .conbox .bor_bt {
  background: #D37373;
}
