.toy-blue .ant-btn-primary.ant-btn {
  background-color: #25489A;
  color: #FFFFFF;
  border-color: #25489A;
}
.toy-blue .ant-btn {
  border-color: #25489A;
  color: #25489A;
}
.toy-blue .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #25489A;
}
.toy-blue .ant-tabs-nav .ant-tabs-tab-active {
  color: #25489A;
}
.toy-blue .timeBox {
  opacity: .8;
  background: #25489A;
}
.toy-blue .oprate-con .do-price .do-price-discount {
  background: #25489A;
  color: #FFFFFF;
}
.toy-blue #mHeader .ant-badge-count {
  background: #000000 !important;
}
.toy-blue #mHeader .ant-badge-count span {
  color: #FFFFFF !important;
}
.toy-blue #mHeader .top-info {
  background-color: #F2F2F2;
  color: #25489A;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.toy-blue #mHeader .top-info .nav-right .nav-item .nav-shop {
  color: #25489A;
}
.toy-blue #mHeader .search-box .close .anticon {
  color: #25489A;
}
.toy-blue #mHeader .draw_menu .menu-footer {
  background: #25489A;
  color: #FFFFFF;
}
.toy-blue #mHeader .draw_menu .menu-footer .footer-item-first {
  color: #FFFFFF;
}
.toy-blue #mHeader .draw_menu .menu-items .item .item-wrap-active {
  color: #25489A;
  font-weight: bold;
}
.toy-blue #mHeader .draw_menu .menu-items .item .item-sub1 .item-active {
  color: #25489A;
}
.toy-blue #mHeader .draw_menu .menu-items .item .menu-check {
  color: #25489A;
}
.toy-blue #mFooter .footer-wrapper .footer-content {
  background: rgba(37, 72, 154, 0.3);
}
.toy-blue #mFooter .footer-wrapper .footer-content .footer-bottom {
  background: #25489A;
}
.toy-blue #mFooter .footer-wrapper .footer-content .footer-item .footer-header .header {
  color: #333333;
}
.toy-blue #mFooter .footer-wrapper .footer-content .footer-item .items .item .font {
  color: #25489A;
}
.toy-blue #mFooter .footer-wrapper .footer-content .footer-item .items .item p {
  color: #333333;
}
.toy-blue .mpro-box .pro-btn .m-pro-btn {
  background-color: #25489A;
  color: #FFFFFF;
}
.toy-blue .mpro-box .pro-img-box .tip-box {
  background-color: #25489A;
}
.toy-blue .mpro-box .pro-img-box .tip-box .tips {
  color: #25489A;
}
.toy-blue .mpro-box .pro-img-box .tip-box .tips-count {
  color: #FFFFFF;
}
.toy-blue .mpro-box .pro-img-box .time-box {
  padding: 0;
  bottom: 0;
  height: 1.0rem;
}
.toy-blue .mpro-box .pro-img-box .time-box .time-inner {
  border-radius: 0;
  background-color: rgba(37, 72, 154, 0.8);
  color: #FFFFFF;
}
.toy-blue .productMobile .sort .sort-contain .catalog {
  background-color: #25489A;
  color: #FFFFFF;
}
.toy-blue .productMobile .sort .sort-contain .list-botton {
  color: #25489A;
}
.toy-blue .productMobile .sort .sort-contain .list-botton i {
  color: #25489A;
  border: 0.01333rem solid #25489A;
}
.toy-blue .productMobile .sort .sort-contain .catalog-show .catalog-contain .part .content .group-click {
  color: #FFFFFF;
  background-color: #25489A;
}
.toy-blue .productMobile .sort .sort-contain .catalog-show .catalog-contain .botton .done {
  color: #FFFFFF;
  background-color: #25489A;
}
.toy-blue .productMobile .list-contain .list-one .part .right-info .operate .botton {
  background: #25489A;
  color: #FFFFFF;
}
.toy-blue .productMobile .list-contain .list-one .part .right-info .sale .sale-span {
  color: #25489A;
  border-color: #25489A;
}
.toy-blue .productMobile .list-contain .list-one .part .right-info .sale .sale-spans {
  color: #FFFFFF;
  background: #25489A;
  border: 0.01333rem solid #25489A;
}
.toy-blue .productMobile .list-contain .list-one .part .right-info .time {
  background-color: rgba(37, 72, 154, 0.8);
  color: #FFFFFF;
}
.toy-blue #mCompany .wrabox .bor_bt {
  background: #25489A;
}
.toy-blue #mContact .conbox .bor_bt {
  background: #25489A;
}
.toy-brown .ant-btn-primary.ant-btn {
  background-color: #6D4D41;
  color: #FFFFFF;
  border-color: #6D4D41;
}
.toy-brown .ant-btn {
  border-color: #6D4D41;
  color: #6D4D41;
}
.toy-brown .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #6D4D41;
}
.toy-brown .ant-tabs-nav .ant-tabs-tab-active {
  color: #6D4D41;
}
.toy-brown .timeBox {
  opacity: .8;
  background: #6D4D41;
}
.toy-brown .oprate-con .do-price .do-price-discount {
  background: #6D4D41;
  color: #FFFFFF;
}
.toy-brown #mHeader .ant-badge-count {
  background: #000000 !important;
}
.toy-brown #mHeader .ant-badge-count span {
  color: #FFFFFF !important;
}
.toy-brown #mHeader .top-info {
  background-color: #F2F2F2;
  color: #6D4D41;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.toy-brown #mHeader .top-info .nav-right .nav-item .nav-shop {
  color: #6D4D41;
}
.toy-brown #mHeader .search-box .close .anticon {
  color: #6D4D41;
}
.toy-brown #mHeader .draw_menu .menu-footer {
  background: #6D4D41;
  color: #FFFFFF;
}
.toy-brown #mHeader .draw_menu .menu-footer .footer-item-first {
  color: #FFFFFF;
}
.toy-brown #mHeader .draw_menu .menu-items .item .item-wrap-active {
  color: #6D4D41;
  font-weight: bold;
}
.toy-brown #mHeader .draw_menu .menu-items .item .item-sub1 .item-active {
  color: #6D4D41;
}
.toy-brown #mHeader .draw_menu .menu-items .item .menu-check {
  color: #6D4D41;
}
.toy-brown #mFooter .footer-wrapper .footer-content {
  background: rgba(109, 77, 65, 0.3);
}
.toy-brown #mFooter .footer-wrapper .footer-content .footer-bottom {
  background: #6D4D41;
}
.toy-brown #mFooter .footer-wrapper .footer-content .footer-item .footer-header .header {
  color: #333333;
}
.toy-brown #mFooter .footer-wrapper .footer-content .footer-item .items .item .font {
  color: #6D4D41;
}
.toy-brown #mFooter .footer-wrapper .footer-content .footer-item .items .item p {
  color: #333333;
}
.toy-brown .mpro-box .pro-btn .m-pro-btn {
  background-color: #6D4D41;
  color: #FFFFFF;
}
.toy-brown .mpro-box .pro-img-box .tip-box {
  background-color: #6D4D41;
}
.toy-brown .mpro-box .pro-img-box .tip-box .tips {
  color: #6D4D41;
}
.toy-brown .mpro-box .pro-img-box .tip-box .tips-count {
  color: #FFFFFF;
}
.toy-brown .mpro-box .pro-img-box .time-box {
  padding: 0;
  bottom: 0;
  height: 1.0rem;
}
.toy-brown .mpro-box .pro-img-box .time-box .time-inner {
  border-radius: 0;
  background-color: rgba(109, 77, 65, 0.8);
  color: #FFFFFF;
}
.toy-brown .productMobile .sort .sort-contain .catalog {
  background-color: #6D4D41;
  color: #FFFFFF;
}
.toy-brown .productMobile .sort .sort-contain .list-botton {
  color: #6D4D41;
}
.toy-brown .productMobile .sort .sort-contain .list-botton i {
  color: #6D4D41;
  border: 0.01333rem solid #6D4D41;
}
.toy-brown .productMobile .sort .sort-contain .catalog-show .catalog-contain .part .content .group-click {
  color: #FFFFFF;
  background-color: #6D4D41;
}
.toy-brown .productMobile .sort .sort-contain .catalog-show .catalog-contain .botton .done {
  color: #FFFFFF;
  background-color: #6D4D41;
}
.toy-brown .productMobile .list-contain .list-one .part .right-info .operate .botton {
  background: #6D4D41;
  color: #FFFFFF;
}
.toy-brown .productMobile .list-contain .list-one .part .right-info .sale .sale-span {
  color: #6D4D41;
  border-color: #6D4D41;
}
.toy-brown .productMobile .list-contain .list-one .part .right-info .sale .sale-spans {
  color: #FFFFFF;
  background: #6D4D41;
  border: 0.01333rem solid #6D4D41;
}
.toy-brown .productMobile .list-contain .list-one .part .right-info .time {
  background-color: rgba(109, 77, 65, 0.8);
  color: #FFFFFF;
}
.toy-brown #mCompany .wrabox .bor_bt {
  background: #6D4D41;
}
.toy-brown #mContact .conbox .bor_bt {
  background: #6D4D41;
}
/*三种颜色通用样式*/
.toy-green .ant-btn-primary.ant-btn {
  background-color: #00A04E;
  color: #FFFFFF;
  border-color: #00A04E;
}
.toy-green .ant-btn {
  border-color: #00A04E;
  color: #00A04E;
}
.toy-green .ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #00A04E;
}
.toy-green .ant-tabs-nav .ant-tabs-tab-active {
  color: #00A04E;
}
.toy-green .timeBox {
  opacity: .8;
  background: #00A04E;
}
.toy-green .oprate-con .do-price .do-price-discount {
  background: #00A04E;
  color: #FFFFFF;
}
.toy-green #mHeader .ant-badge-count {
  background: #000000 !important;
}
.toy-green #mHeader .ant-badge-count span {
  color: #FFFFFF !important;
}
.toy-green #mHeader .top-info {
  background-color: #F2F2F2;
  color: #00A04E;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.toy-green #mHeader .top-info .nav-right .nav-item .nav-shop {
  color: #00A04E;
}
.toy-green #mHeader .search-box .close .anticon {
  color: #00A04E;
}
.toy-green #mHeader .draw_menu .menu-footer {
  background: #00A04E;
  color: #FFFFFF;
}
.toy-green #mHeader .draw_menu .menu-footer .footer-item-first {
  color: #FFFFFF;
}
.toy-green #mHeader .draw_menu .menu-items .item .item-wrap-active {
  color: #00A04E;
  font-weight: bold;
}
.toy-green #mHeader .draw_menu .menu-items .item .item-sub1 .item-active {
  color: #00A04E;
}
.toy-green #mHeader .draw_menu .menu-items .item .menu-check {
  color: #00A04E;
}
.toy-green #mFooter .footer-wrapper .footer-content {
  background: rgba(0, 160, 78, 0.3);
}
.toy-green #mFooter .footer-wrapper .footer-content .footer-bottom {
  background: #00A04E;
}
.toy-green #mFooter .footer-wrapper .footer-content .footer-item .footer-header .header {
  color: #333333;
}
.toy-green #mFooter .footer-wrapper .footer-content .footer-item .items .item .font {
  color: #00A04E;
}
.toy-green #mFooter .footer-wrapper .footer-content .footer-item .items .item p {
  color: #333333;
}
.toy-green .mpro-box .pro-btn .m-pro-btn {
  background-color: #00A04E;
  color: #FFFFFF;
}
.toy-green .mpro-box .pro-img-box .tip-box {
  background-color: #00A04E;
}
.toy-green .mpro-box .pro-img-box .tip-box .tips {
  color: #00A04E;
}
.toy-green .mpro-box .pro-img-box .tip-box .tips-count {
  color: #FFFFFF;
}
.toy-green .mpro-box .pro-img-box .time-box {
  padding: 0;
  bottom: 0;
  height: 1.0rem;
}
.toy-green .mpro-box .pro-img-box .time-box .time-inner {
  border-radius: 0;
  background-color: rgba(0, 160, 78, 0.8);
  color: #FFFFFF;
}
.toy-green .productMobile .sort .sort-contain .catalog {
  background-color: #00A04E;
  color: #FFFFFF;
}
.toy-green .productMobile .sort .sort-contain .list-botton {
  color: #00A04E;
}
.toy-green .productMobile .sort .sort-contain .list-botton i {
  color: #00A04E;
  border: 0.01333rem solid #00A04E;
}
.toy-green .productMobile .sort .sort-contain .catalog-show .catalog-contain .part .content .group-click {
  color: #FFFFFF;
  background-color: #00A04E;
}
.toy-green .productMobile .sort .sort-contain .catalog-show .catalog-contain .botton .done {
  color: #FFFFFF;
  background-color: #00A04E;
}
.toy-green .productMobile .list-contain .list-one .part .right-info .operate .botton {
  background: #00A04E;
  color: #FFFFFF;
}
.toy-green .productMobile .list-contain .list-one .part .right-info .sale .sale-span {
  color: #00A04E;
  border-color: #00A04E;
}
.toy-green .productMobile .list-contain .list-one .part .right-info .sale .sale-spans {
  color: #FFFFFF;
  background: #00A04E;
  border: 0.01333rem solid #00A04E;
}
.toy-green .productMobile .list-contain .list-one .part .right-info .time {
  background-color: rgba(0, 160, 78, 0.8);
  color: #FFFFFF;
}
.toy-green #mCompany .wrabox .bor_bt {
  background: #00A04E;
}
.toy-green #mContact .conbox .bor_bt {
  background: #00A04E;
}
